<footer class="footer">
  <div class="footer-inner container">
    <div class="any-questions col-lg-push-10 col-lg-2">
      <a href="/hc/en-us/requests/new">
        <img src="{{asset 'any-questions.png'}}" />
      </a>
    </div>
  </div>
</footer>